/*================================================================
    Author: Kyla Kozole
==================================================================
    GENERIC STYLES
==================================================================*/

.main {
    padding-top: 20px;
    padding-bottom: 10px;
    display: block;
}

/*===========================================================
    HEADER IMG
    =========================================================*/
.header-img {
    position: relative;
}

.bkgd-img {
    background-size: cover;
    position: relative;
    background-position: center;
    -webkit-filter: blur(25px);
    filter: blur(25px);
    width: 100%;
}

img.top {
    max-width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*===============================================
    CONTENT
    =============================================*/

.prints {
    padding-top: 60px;
    position: relative;
    display: block;
    margin-left: 5%;
}

/*===============================================
    PRICING TABLE
    =============================================*/

.pricing {
    padding-top: 5px;
}

.table {
    width: 20%;
    border: 1px solid rgb(80, 80, 80);
}

.table th {
    font-weight: bold;
    background-color: rgb(163, 158, 149);
}

.table th, td {
    padding: 2em;
    border: 1px solid rgb(80, 80, 80);

}

/*========================================
    FOOTER
    ======================================*/
.foot {
    display: block;
    text-align: center;
    font-weight: bold;
}